/**
 * Created by Игорь on 16.04.2019.
 */

img {
    max-width: 100%;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a {
    text-decoration: none;
}

.dialogsItems .active {
    color: aqua;
}

.messages {
    padding: 10px;
}


.message {

}